<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= get_galler_image(@gallery) %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
