<p>
  <strong>Name:</strong>
  <%= @gallery.name %>
</p>

<p>
  <strong>Image:</strong><br>
  <%= image_tag(@gallery.image.url) unless @gallery.image.url.nil? %>
</p>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
